/* Estilos generales */
* {
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--secondary);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    padding-bottom: 2.5px;
}

html, body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
}

body.on {
    overflow: hidden !important;
}

/* Botones y contenedor principal */
.btn {
    border: none;
    background-color: var(--third);
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: var(--third-disabled);
}

.btn.blue {
    background-color: var(--o1);
}

.btn.blue:hover {
    background-color: var(--o1-disabled);
}

.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */
.navbar-nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.navbar-toggler {
    display: none;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    margin: 20px;
}

.navbar-toggler i {
    font-size: 30px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand-txt a {
    margin-bottom: 6px;
    align-items: center;
    font-size: 24px;
    letter-spacing: 1px;
}

.logo-icon {
    margin-right: 10px;
}

.navs {
    display: flex;
    align-items: center;
}

.navs .navs-item {
    margin: 0px 10px;
    padding: 10px;
    font-weight: bold;
}

.navs .navs-item a {
    font-size: 14px;
    color: var(--secondary-disabled);
}

.navs .navs-item a:hover {
    color: var(--secondary);
}

.navs .navs-item a button {
    font-size: 14px;
}

.navs .navs-item.notbtn {
    margin: 0px 10px;
    transition: 0.3s;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.navs .navs-item.notbtn:hover {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
}

.navs .navs-item.notbtn:focus {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.navs-item .btn {
    font-weight: bold;
}

/* Panel de administrador */
.dashboard-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: var(--secondary, #333);
}

.contact-box .contact-t-h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.contact-box .contact-t-h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.contact-box .contact-t-h1::after,
.contact-box .contact-t-h2::after {
    content: "";
    display: block;
    border-bottom: 3px solid var(--third);
    width: 10%;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 7px;
    min-width: 70px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

button {
    /* Estilos para los botones */
    padding: 10px;
    background-color: var(--o1);
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: var(--o1-disabled);
}

/* Estilos para el menú desplegable (select) */
form select {
    color: black;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 40px;
}

form select:hover {
    border-color: var(--primary);
}

form select:focus {
    border-color: var(--primary);
    outline: none;
}

table {
    /* Estilos para las tablas */
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

td a {
    display: inline-block;
    margin-right: 8px;
}

td a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

th {
    background-color: var(--third);
    color: var(--secondary);
}

tbody tr:hover {
    background-color: var(--third-disabled);
}

/* Búsqueda de ciudades y usuarios */
.busqueda_ciudad,
.busqueda_usuarios {
    margin: 20px 0;
}

.busqueda_ciudad label,
.busqueda_usuarios label {
    font-size: 18px;
}

.busqueda_ciudad select,
.busqueda_ciudad input,
.busqueda_usuarios input,
.busqueda_usuarios button {
    padding: 10px;
    font-size: 16px;
}

.busqueda_ciudad button,
.busqueda_usuarios button {
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.busqueda_ciudad button:hover,
.busqueda_usuarios button:hover {
    transition: 0.2s;
}

@media (max-width: 992px) {
    /* Estilos responsivos para pantallas más pequeñas */

    /* Navbar mobile version */
    .navbar-toggler {
        display: block;
    }

    .navs {
        flex-direction: column;
        background-color: var(--primary-disabled);
        transform: translateX(110%);
        position: fixed;
        z-index: 2;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 1s;
        justify-content: center;
        align-items: center;
    }

    .navs.on {
        transform: translateX(0%);
        overflow: hidden;
    }

    .navs .navs-item {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }

    .navs-item a button {
        width: 100%;
    }

    .jumbotron-items {
        justify-content: center;
    }

    .jumbotron-items .jumbotron-item {
        text-align: center;
    }

    .jumbotron-items .jumbotron-item img {
        display: none;
    }
    
    /* Navbar mobile version end */

    /* Features mobile version */
    .features-box .features-t {
        font-size: 20px;
        text-align: center;
    }

    .feature-info .feature-info-t,
    .feature-info .feature-info-d {
        text-align: center;
    }

    .features .feature {
        flex-direction: column;
    }

    .features .feature:nth-child(2) {
        flex-direction: column;
    }
    /* Features mobile version end */

    /* Services mobile version */
    .services-box h1 {
        font-size: 20px;
    }
    /* Services mobile version end */
}

